<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="d:\dev\testConfig.config" >
    <!-- AccountGroup Test IDs-->
    <add key="AccountGroup_AccountGroupID" value="3046"/>

    <!-- Account Test IDs-->
    <add key="AccountTest_accountID" value="58765"/>

    <!-- AlertSpec test IDs -->
    <add key="AlertSpecTest_serverID" value="732335001"/>
    <add key="AlertSpecTest_serverTemplateID" value="288194001"/>
    <add key="AlertSpecTest_serverArrayID" value="218834001"/>

    <!-- AuditEntry test IDs-->
    <add key="AuditEntryTest_auditEntryID" value="156141348001"/>
    <add key="AuditEntryTest_serverID" value="732335001"/>
    <add key="AuditEntryTest_serverArrayID" value="218834001"/>

    <!-- Backup test IDs-->
    <add key="BackupTest_backupID" value="12345"/>

    <!-- Cloud test IDs-->
    <add key="CloudTest_awsCloudID" value="4"/>
    <add key="CloudTest_azureCloudID" value="2178"/>
    <add key="CloudTest_openstackCloudID" value="2432"/>
    
    <!-- Instance test IDs -->
    <add key="InstanceTest_deploymentID" value="372212001"/>
    <add key="InstanceTest_cloudID" value="2178"/>
    <add key="InstanceTest_serverArrayID" value="218834001"/>

    <add key="InstanceTypeTest_cloudID" value="2178"/>
    
    <!-- Server test IDs -->
    <add key="ServerTest_deploymentID" value="372212001"/>
    <add key="ServerTest_serverID" value="732335001"/>
    <add key="ServerTest_cloudID" value="2178"/>
    <add key="ServerTest_serverTemplateID" value="281624001"/>
    <add key="ServerTest_instanceTypeID" value="FG366VQS6CEDI"/> <!-- extra small in azure -->
    <add key="ServerTest_multiCloudImageID" value="292845001"/>
  </appSettings>
</configuration>