<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="d:\dev\testConfig.config" >
    <!-- AccountGroup Test IDs-->
    <add key="AccountGroup_AccountGroupID" value="3046"/>

    <!-- Account Test IDs-->
    <add key="AccountTest_accountID" value="58765"/>

    <!-- AlertSpec test IDs -->
    <add key="AlertSpecTest_serverID" value="729563001"/>
    <add key="AlertSpecTest_serverTemplateID" value="288194001"/>
    <add key="AlertSpecTest_serverArrayID" value="218834001"/>

    <!-- AuditEntry test IDs-->
    <add key="AuditEntryTest_auditEntryID" value="156141348001"/>
    <add key="AuditEntryTest_serverID" value="729563001"/>
    <add key="AuditEntryTest_serverArrayID" value="218834001"/>

    <!-- Backup test IDs-->
    <add key="BackupTest_backupID" value="12345"/>

    <!-- Cloud test IDs-->
    <add key="CloudTest_awsCloudID" value="4"/>
    <add key="CloudTest_azureCloudID" value="2178"/>
    <add key="CloudTest_openstackCloudID" value="2432"/>
  </appSettings>
</configuration>