<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The following properties need to be set in a separate file or in your machine.config 
         These are not required to operate the API itself, but are used for the test project
         so unit test success depends on them being there to auth to the API but they aren't 
         explcitly included in this file directly as it would be very bad to check them into github -->
    <!--<add key="RightScaleAPI_AuthRefreshToken" value=""/>-->
    <!--<add key="RightScaleAPI_AuthAccountID" value=""/>-->
    <!--<add key="RightScaleAPI_AuthPassword" value=""/>-->
    <!--<add key="RightScaleAPI_AuthUserName" value=""/>-->
    <!-- common properties -->
    <add key="RightScaleAPI_AzureCloudID" value="2178" />
    <add key="RightScaleAPI_AWSCloudID" value="4" />
    <add key="RightScaleAPI_OpenStackCloudID" value="2475" />
    <add key="RightScaleAPI_RackSpaceOpenCloudID" value="2324" />
    <add key="RightScaleAPI_CloudStackCloudID" value="2138" />
    <add key="RightScaleAPI_EucaCloudID" value="1710" />
    <add key="RightScaleAPI_AWSUSEastID" value="1" />
    <add key="RightScaleAPI_LiveTestServerID" value="742698001" />
    <add key="RightScaleAPI_LiveTestServerArrayID" value="220245001" />
    <add key="RightScaleAPI_LiveTestDeploymentID" value="372212001" />
    <add key="RightScaleAPI_AutoPopulateTags" value="true" />
    <!-- AccountGroup Test IDs-->
    <add key="AccountGroup_AccountGroupID" value="3046" />
    <!-- Account Test IDs-->
    <add key="AccountTest_accountID" value="58765" />
    <!-- AlertSpec test IDs -->
    <add key="AlertSpecTest_serverTemplateID" value="288194001" />
    <!-- AuditEntry test IDs-->
    <add key="AuditEntryTest_auditEntryID" value="167312434001" />
    <!-- Backup test IDs-->
    <add key="BackupTest_backupID" value="12345" />
    <!-- Cloud test IDs-->
    <!-- CloudAccount test IDs -->
    <add key="CloudAccount_cloudAccountID" value="398929001" />
    <!-- Credential test IDs-->
    <add key="CredentialTest_credentialID" value="212427001" />
    <!-- DataCenter IDs -->
    <add key="DataCenter_cloudID" value="2371" />
    <add key="DataCenter_datacenterID" value="2MNLNDTP253CB" />
    <!-- Filter test values -->
    <add key="FilterTest_singleFilterString" value="isTestClass%3D%3Dyes" />
    <add key="FilterTest_singleFullFilterString" value="filter%5B%5D%3DisTestClass%3D%3Dyes" />
    <add key="FilterTest_multipleFilterString" value="name%3D%3DPatrick%26isAwesome%3D%3Dtrue%26worksForRightScale%3D%3Dyep%26location%3C%3Eairport" />
    <add key="FilterTest_multipleFullFilterString" value="filter%5B%5D%3Dname%3D%3DPatrick%26filter%5B%5D%3DisAwesome%3D%3Dtrue%26filter%5B%5D%3DworksForRightScale%3D%3Dyep%26filter%5B%5D%3Dlocation%3C%3Eairport" />
    <!-- IPAddress test IDs -->
    <!-- Instance test IDs -->
    <add key="InstanceTest_filterListString" value="state%3D%3Doperational" />
    <add key="InstanceTypeTest_instanceID" value="FG366VQS6CEDI" />
    <add key="InstanceTest_runExecTestServer" value="772923001" />
    <add key="InstanceTest_execScriptID" value="432701001" />
    <add key="InstanceTest_execScriptName" value="SYS Install RightScale Powershell library (v13.3)" />
    <!-- Image test filters -->
    <add key="ImageTest_filterListString" value="os_platform%3D%3DWindows" />
    <add key="ImageTest_imageid" value="5UD6J5OO9TTI8" />
    <add key="ImageTest_filterListString" value="name%3D%3Dbase" />
    <add key="ImageTest_imageid" value="6CAFMQ4N2FVMS" />
    <!-- Input test filters -->
    <add key="InputTest_servertemplateid" value="293562001" />
    <add key="InputTest_serverid" value="770827001" />
    <!-- MultiCloudImage test filters -->
    <add key="MultiCloudImageTest_filterListString" value="revision%3D%3D0" />
    <add key="MultiCloudImageTest_imageid" value="245833001" />
    <add key="MultiCloudImageTestUpdate_imageid" value="254106001" />
    <add key="MultiCloudImageTestDestroy_imageid" value="313275001" />
    <add key="MultiCloudImageTest_ServerTemplateID" value="288644001" />
    <!-- MultiCloudImageSetting test IDs -->
    <add key="MultiCloudImageSettingTest_multiCloudImageID" value="294811001" />
    <add key="MultiCloudImageSettingTest_multiCloudImageSettingID" value="672615001" />
    <!-- Publication test IDs -->
    <add key="PublicationTest_publicationID" value="49615" />
    <!-- ServerArray test filters -->
    <add key="ServerArrayTest_filterListString" value="name%3D%3DAPI Testing" />
    <add key="ServerArrayTest_serverarrayview" value="instance_detail" />
    <add key="ServerArrayTest_serverTemplateID" value="290029001" />
    <!-- ServerTemplate test filters -->
    <add key="ServerTemplateTest_filterListString" value="description%3D%3DWindows" />
    <add key="ServerTemplateTest_servertemplateid" value="293562001" />
    <!-- Server test IDs -->
    <add key="ServerTest_serverTemplateID" value="281624001" />
    <add key="ServerTest_instanceTypeID" value="FG366VQS6CEDI" />
    <!-- extra small in azure -->
    <add key="ServerTest_multiCloudImageID" value="292845001" />
    <add key="ServerTest_launchTerminateServerID" value="744493001" />
    <add key="ServerTest_winLaunchTerminateServerID" value="770827001" />
    <add key="ServerTemplateMultiCloudImageTest_serverTempalteID" value="291274001" />
    <add key="ServerTemplateMultiCloudImageTest_multiCloudImageID" value="255174001" />
    <add key="ServerTemplateMultiCloudImageTest_ID" value="753038001" />
    <add key="ServerTemplateMultiCloudImageTest_NewMCIID" value="254106001" />
    <!-- Subnet test IDs -->
    <add key="SubnetTest_SubnetID" value="3BMS3NB0HR7NV" />
    <!-- SSHKey test IDs -->
    <add key="SshKeyTest_accountID" value="62988" />
    <add key="SshKeyTest_sshKeyName" value="APITestSSHKey" />
    <!-- Tag test hrefs -->
    <add key="VolumeType_cloudStackVTID" value="525RLHSDHQJLH" />
    <!-- Volume test IDs -->
    <add key="VolumeTest_volumeID" value="6R5RI1KNNLNHK" />
    <add key="VolumeTest_volumeTypeID" value="97Q814796GTBN" />
    <add key="VolumeTest_childVolumeID" value="CL2S5FO6KMUBS" />
    <add key="VolumeAttachmentTest_serverID" value="764053001" />
    <add key="VolumeAttachmentTest_volumeTypeID" value="97Q814796GTBN" />
    <add key="ResourceTagTest_MultiCloudImage" value="294811001" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>